
body {
    font-family: 'Antic Slab', serif;
    background-color: #000000;
}


.wrapper {
    background-image: url("../img/default-background.png");
}

.topbar,.middlebar,.bottombar {
    background-color: darkblue;
}

.selected {
    background-color: green;
}

.main-header, .bottom{
    color:#303030 ;
}

.main-header{
    margin-bottom:-30px;
}

.bottom{
    background-color: darkgrey;
}

.top {
   background-color:#000000;
   border-color: darkgrey;
}