
body {
    font-family: 'VideoTerminalSc';
    background-color: #000000;
}

.wrapper {
    background-image: url("../img/bg.png");
}

.header1 {
    background-color: darkblue;
}

.lead {
    background-color: green;
}

.header2 {
    background-color: darkblue;
}

.header3 {
    background-color: darkblue;
}

