.main {
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;

}

img {
    height:15px;
    width: 15px;
    margin-right: 60px;
    /*float:left;*/
}

.container {
    border: 5px solid;
    border-color: black;
    width: 700px;
    height: 600px;
    margin-left: 300px;
    margin-top: 70px;
    background-color: black;
    background-image: url("../img/bg.png");

}

body {
    color: white;
}

body {
    font-family: "lucida console";
}

.options {
    /*border:30px 10px 15px 10px;*/
    border-top: 30px;
    border-right: 10px;
    border-left: 10px;
    border-bottom: 15px;
    border-color: darkgrey;
    border-style: solid;
    background-color: black;
}

.gamePlay, .startOrder, .loadGenerator, .audioVideo, .apply {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.content {
    margin-left: 10px;
    margin-right: 10px;

}

.gamePlay {
    background-color: blue;

}

.startOrder {
    background-color: green;
}

.loadGenerator {
    background-color: blue;
}

.audioVideo {
    background-color: blue;
}

.apply {
    background-color: darkgrey;
}

.label {
    /*margin-top:4px;*/
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    /*float: left;*/
    margin-left: 5px;
    margin-right: 5px;
}

td {
    padding-left: 35px;
    padding-right: 35px;
}

.left, .right {
    float: left;
    /*width:200px;*/
}

h3, h4 {
    text-align: center;
}


h4 {
    margin-top: 10px;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.right-arrow{
    margin-left:60px;
    margin-right:0px;
    float: right;
}

