body {
    font-family: 'Roboto Condensed', sans-serif;
    color:#F0F0F0;
    background-color:black;
}

.wrapper {
    background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/themes/pebbles/bg4_1280x800.jpg");
}

.container{
    margin-top:40px;
}

.main-header{
    margin-top:5px;
    margin-bottom:-30px;
}

.main-content-container {
    border-color: darkgrey;
    background-color: black;
}

.header {
    background-color:cornflowerblue;
}

.selected {
    background-color: lightpink;
}

.footer {
    background-color: darkgrey;
}

.arrow-right {
    border-left: 5px solid white;
}

.arrow-left {
    border-right:5px solid white;
}

.main-header,.header{
    color:black;
}