body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing:3px;
    color:#000000;
    background-color: #F0F0F0;
}

.wrapper {
    background-image: url("http://www.wallpaper1080hd.com/Picture/allimg/c100911/12T1LY930060-53523.jpg");
}

.container{
    margin-top:40px;
}

.main-header{
    margin-top:5px;
    margin-bottom:-30px;
}

.top {
    border-color: darkgrey;
    background-color: #F0F0F0;
}

.header-bar{
    background-color:cornflowerblue;
}

.selected {
    background-color: lightpink;
}

.bottom{
    background-color: darkgrey;
}

.arrow-right {
    border-left: 5px solid black;
}

.arrow-left {
    border-right:5px solid black;
}