
body {
    font-family: cursive;
    background-color: wheat;
}

.main {
    margin-left: 400px;
    margin-right: 400px;
}

.options {
    border-top: 30px solid ;
    border-right: 10px solid;
    border-left: 10px solid ;
    border-bottom: 15px solid;
    /*border:30px 10px 15px 10px;*/
    border-color: gainsboro;
    background-color: whitesmoke;
}

.gamePlay {
    background-color: tan;
}

.startOrder {
    background-color: thistle;
}

.loadGenerator {
    background-color: pink;
}

.audioVideo {
    background-color: pink;
}

.apply {
    background-color: gainsboro;
}

.label {
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: 150px;
}

li {
    list-style-type: none;
    float: left;
}

td {
    padding-left: 35px;
    padding-right: 35px;
}



