
@font-face {
    /*font-family: "Bitstream Vera Serif Bold";*/
    /*src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");*/
}
body {
    /*font-family:"Bitstream Vera Serif Bold";*/
    background-color: #000000;
}

.wrapper {
    background-image: url("../img/green.png");
}

.header1 {
    background-color: tan;
}

.selected {
    background-color: thistle;
}

.header2 {
    background-color: tan;
}

.header3 {
    background-color: tan;
}
