@media screen and (min-width: 300px) and (max-width: 950px) {
    .selected {
        height:auto;
    }
}

@media screen and (min-width: 951px) and (max-width: 1300px) {
    .selected {
        height:20px;
    }
}

body {
    color: white;
    font-size: 16px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width:1105px;
    height:701px;
    margin-top: 50px;
}

.main-header {
    margin-bottom:-30px;
    color:black;
    font-weight:lighter;
    text-align: center;
}

.main {
    border-top: 30px;
    border-right: 10px;
    border-left: 10px;
    border-bottom: 10px;
    border-color: darkgrey;
    border-style: solid;
    background-color: black;
    outline:outset #ffffff thin;
    padding:5px;
}

.header1,  .header2, .header3, .bottom {
    text-align: center;
}

.header1 ul{
    margin-left:0px;
}

.selected {
    margin-bottom:10px;
    text-shadow:0px 3px #000000;
    padding-bottom:10px;
    font-size:inherit;
    padding-right:30px;
    border-color:green;
}

.header1-content,.header2-content,.header3-content {
    margin-right: 30px;
    text-indent:30px;
}

li {
    list-style-type: none;
}

.inner-text{
    text-align: center;
    float: left;
    width:90%
}

.arrow-right {
    width:0px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    float: right;
    margin-top: 7px;
}

.arrow-left {
    width: 0px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:5px solid white;
    float: left;
    margin-top: 7px;
}

.bottom {
    background-color: darkgrey;
    margin:5px inherit 50px 0px;
    color: #000000;
    outline:outset #ffffff thin;
}

.bottom ul{
    margin-left:0px;
}


