.customcontainer {
    background-image: url("../img/blue.jpg");
}

body {
    font-family:'Terminus';
}

.gamePlay {
    background-color: lightpink;
}

.startOrder {
    background-color: darkseagreen;
}

.loadGenerator {
    background-color: lightpink;
}

.audioVideo {
    background-color: lightpink;
}

