
@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
}
body {
    font-family:"Bitstream Vera Serif Bold";
}

.container {
    background-image: url("../img/green.png");
}

.gamePlay {
    background-color: tan;
}

.startOrder {
    background-color: thistle;
}

.loadGenerator .headers{
    background-color: tan;
}

.audioVideo .headers{
    background-color: tan;
}
