.container {
    background-image: url("../img/blue.jpg");
}

body {
    font-family:'Terminus';
}

.gamePlay {
    background-color: lightpink;
}

.startOrder {
    background-color: darkseagreen;
}

.loadGenerator .headers{
    background-color: lightpink;
}

.audioVideo .headers{
    background-color: lightpink;
}

