body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F0F0F0;
    color:#000000;
}

.wrapper {
    background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/themes/turf/bg3_1280x800.jpg");
}

.container{
    padding-top:70px;
}

.main-content-container {
    border-color: darkgrey;
    background-color: #F0F0F0;
}

.main-header{
    margin-top:5px;
    margin-bottom:-30px;
}

.header {
    background-color:deepskyblue;
    color:black;
}

.selected {
    background-color:lawngreen;
    text-shadow:none;
}

.footer,.main-header{
    color:black;
}

.footer {
    background-color: darkgrey;
}

.arrow-right {
    border-left: 5px solid black;
}

.arrow-left {
    border-right:5px solid black;
}